@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">wwwWelcome</h1>
    <h2>外网：@ViewBag.Remote</h2>
    <h2>本地：@ViewBag.Local</h2>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
